/*First banner*/
.first-banner {
	background-color: rgb(183,183,183);
	padding: 60px 0;
	margin: 20px 0 0 0;
	text-align: center;
}
.first-banner h1 {
	font-family: 'BCCartelDeux';
	font-size: 40px;
	color: rgb(25,54,97);
}
.first-banner h2 {
	font-family: 'GothamRoundedBook';
	font-size: 20px;
	color: rgb(25,54,97);
}
/*Second banner*/
.second-banner {
	background-color: rgb(186,219,241);
	color: rgb(25,54,97);
	text-align: center;
	padding: 15px;
	font-family: 'GothamRoundedBold';
	font-size: 14px;
}
/*Cart info*/
.cart-info {
	padding: 60px 0;
	background-image: none;
	background-color: rgb(255,255,255);
}
.cart-info .row {
	height: unset;
}
/*List item*/
.cart-info .list-item {
	color: rgb(25,54,97);
	font-family: 'GothamRoundedBold';
}
.cart-info .list-item table {
}
.cart-info .list-item table thead {
}
.cart-info .list-item table thead tr {
}
.cart-info .list-item table thead tr th {
	font-size: 14px;
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid rgb(25,54,97);
	min-width: 100px;
}
.cart-info .list-item table thead tr th.price {
	min-width: 140px;
}
.cart-info .list-item table tbody {
}
.cart-info .list-item table tbody tr {
}
.cart-info .list-item table tbody tr td {
	padding: 20px 10px;
}
.cart-info .list-item table tbody tr td.product img {
	width: 100px;
}
.cart-info .list-item table tbody tr td.desc .name {
	font-size: 12px;
	text-align: center;
}
.cart-info .list-item table tbody tr td.prices .type {
	font-size: 13px;
	font-family: 'GothamRoundedBook';
	text-align: right;
	padding: 6px 0;
	line-height: 16px;
	vertical-align: top;
}
.cart-info .list-item table tbody tr td.prices .price {
	font-family: 'GothamRoundedBook';
	text-align: center;
	padding: 6px 0;
}
.cart-info .list-item table tbody tr td.prices .price .currency {
	font-size: 8px;
	line-height: 12px;
	vertical-align: top;
}
.cart-info .list-item table tbody tr td.prices .price .number {
	font-size: 12px;
	line-height: 16px;
	vertical-align: top;
}
.cart-info .list-item table tbody tr td.quantities .quantity {
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	vertical-align: top;
	padding: 8px 0;
	font-family: 'GothamRoundedBook';
}
.cart-info .list-item table tbody tr td.subtotal .price {
	text-align: center;
}
.cart-info .list-item table tbody tr td.subtotal .price .currency {
	font-size: 8px;
	line-height: 12px;
	vertical-align: top;
	font-family: 'GothamRoundedBook';
}
.cart-info .list-item table tbody tr td.subtotal .price .number {
	font-size: 12px;
	line-height: 16px;
	vertical-align: top;
}
.cart-info .list-item table tbody tr td.action a {
	font-size: 10px;
	color: rgb(200,200,200);
	font-family: 'GothamRoundedBook';
}
/*Order*/
.cart-info .order {
	padding: 20px 10px;
	color: rgb(25,54,97);
	font-family: 'GothamRoundedBold';
}
.cart-info .order > h1 {
	font-size: 20px;
	text-align: center;
	padding: 20px 0 30px 0;
}

.cart-info .order .total {
}
.cart-info .order .total .label {
	font-size: 13px;
	text-align: left;
}
.cart-info .order .total .price {
	text-align: right;
}
.cart-info .order .total .price .currency {
	font-size: 8px;
	font-family: 'GothamRoundedBook';
	line-height: 12px;
	vertical-align: top;
}
.cart-info .order .total .price .number {
	font-size: 12px;
	line-height: 12px;
	vertical-align: top;
}

.cart-info .order .promotion {
	padding: 15px 0;
}
.cart-info .order .promotion .label {
	font-size: 13px;
	text-align: left;
}
.cart-info .order .promotion .price {
	text-align: right;
}
.cart-info .order .promotion .price .number {
	font-size: 11px;
	line-height: 11px;
	vertical-align: top;
	font-family: 'GothamRoundedBook';
}
.cart-info .order .promotion input {
	border: 1px solid rgb(25,54,97);
	padding: 5px;
	background-color: rgb(255,255,255);
	min-width: 100px;
	font-size: 10px;
	font-family: 'GothamRoundedBook';
	margin: 10px 0;
}
.cart-info .order .promotion button {
	border: 1px solid rgb(25,54,97);
	padding: 5px;
	background-color: rgb(255,255,255);
	font-size: 10px;
	font-family: 'GothamRoundedBook';
	margin: 0;
	cursor: pointer;
	color: rgb(25,54,97);
}

.cart-info .order .actual-total {
}
.cart-info .order .actual-total .label {
	font-size: 16px;
	text-align: left;
}
.cart-info .order .actual-total .price {
	text-align: right;
}
.cart-info .order .actual-total .price .currency {
	font-size: 10px;
	font-family: 'GothamRoundedBook';
	line-height: 18px;
	vertical-align: top;
}
.cart-info .order .actual-total .price .number {
	font-size: 18px;
	font-family: 'GothamRoundedBold';
	line-height: 18px;
	vertical-align: top;
	color: rgb(164,28,38);
}

.cart-info .order .checkout {
	padding: 20px 0 40px 0;
	text-align: center;
}
.cart-info .order .checkout button {
	padding: 6px 30px;
	background-color: rgb(25,54,97);
	color: rgb(255,255,255);
	font-size: 12px;
	border: none;
	cursor: pointer;
}

.cart-info .payment-methods {
}
.cart-info .payment-methods .label {
	font-size: 12px;
}
.cart-info .payment-methods .list {
}
.cart-info .payment-methods .list img {
	width: 50px;
}
