/*Top background*/
.top-background {
    position: absolute;
    top: 0;
    width: 100%;
    background-position-y: 0px;
    background-repeat-y: no-repeat;
    z-index: -1;
}
.top-background img {
	width: 100%;
}
/*Top see more*/
.top-see-more {
	display: flex;
	justify-content: center;
	margin: calc(45vw - 200px) 0 calc(10vw + 100px) 0;
}
.top-see-more .inner {
	cursor: pointer;
	border: 1px solid rgb(255,255,255);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(255,255,255);
}
@media (max-width: 768px) {
	.top-see-more {
		margin: calc(50vw - 170px) 0 20vw 0;
	}
}
/*Video*/
.intro-video {
	position: relative;
	top: calc(-130px + 3vw);
	padding: 150px 0 100px 0;
	background-image: url('../images/rewind_video_bg.png');
	background-attachment: fixed;
	z-index: -2;
}
.intro-video .header-1 {
	font-size: 40px;
	color: rgb(25,54,97);
	margin: 0 0 60px 0;
	text-align: center;
}
.intro-video .text {
	font-family: 'GothamRoundedBook';
	color: rgb(25,54,97);
	font-size: 16px;
	padding: 10px 40px;
	text-align: justify;
}
.intro-video .video {
	padding: 0 20px 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.intro-video .video img {
	width: 100%;
}
@media (max-width: 768px) {
	.intro-video {
		padding: 100px 0 50px 0;
	}
	.intro-video .header-1 {
		font-size: 30px;
		margin: 0 0 30px 0;
		text-align: center;
	}
	.intro-video .text {
		font-size: 14px;
		padding: 20px;
	}
	.intro-video .video {
		padding: 0 0 0 0;
	}
	.intro-video .video img {
		width: 100%;
	}
}
/*Journeys*/
.journeys {
	padding: 70px 0;
	margin-top: -100px;
	background-image: url('../images/rewind_journeys_bg.png');
	background-attachment: fixed;
	background-repeat: repeat-y;
}
.journeys .header-1 {
	font-size: 50px;
	text-align: center;
	color: rgb(25,54,97);
}
.journeys .list {
}
.journeys .list .journey {
	padding: 100px 0 0 0;
}
.journeys .list .journey .text {
	width: 80%;
	position: relative;
	left: 10%;
}
.journeys .list .journey .text .header-2 {
	text-align: left;
	font-size: 36px;
	color: rgb(25,54,97);
	line-height: 40px;
}
.journeys .list .journey .text .underline {
	width: 100px;
	height: 5px;
	border: none;
	margin: 20px 0 50px 0;
	background-color: rgb(186,219,241);
}
.journeys .list .journey .text .description {
	font-family: 'GothamRoundedBook';
	font-size: 16px;
	color: rgb(25,54,97);
	line-height: 24px;
	text-align: justify;
}
.journeys .list .journey .text .description ul {
	padding: 10px 0 0 40px;
}
.journeys .list .journey .text .description ul li {
}
.journeys .list .journey .images {
	min-height: 300px;
}
.journeys .list .journey .images .inner {
	width: 80%;
	position: relative;
	left: 10%;
}
/*.journeys .list .journey .images .carousel {
	height: 100%
}
.journeys .list .journey .images .carousel .carousel-inner {
	height: 100%
}
.journeys .list .journey .images .carousel .carousel-inner .carousel-item {
	height: 100%
}*/
.journeys .list .journey .images .carousel .carousel-control-next,
	.journeys .list .journey .images .carousel .carousel-control-prev {
	font-size: 32px;
	color: rgb(186,219,241);
}
.journeys .list .journey .images .carousel .carousel-control-next {
	justify-content: flex-end;
}
.journeys .list .journey .images .carousel .carousel-control-prev {
	justify-content: flex-start;
}
.journeys .list .journey .images .tour-image {
	/*background-image: url('../images/rewind_tour_image.png');*/
	/*height: 100%;*/
	/*min-height: 300px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.journeys .list .journey .images .tour-image .price {
	position: absolute;
	top: 0;
	left: 10px;
	width: 50px;
	height: 62px;
	font-size: 8px;
	color: rgb(255,255,255);
	background-image: url('../images/rewind_tour_price_bg.png');
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.journeys .list .journey .images .tour-image .price span {
	font-size: 18px;
}
.journeys .list .journey .images .tour-image h1 {
	font-family: 'MrStalwart';
	font-size: 55px;
	color: rgb(183,68,59);
	text-shadow: 1px 1px rgb(241,180,52),
		-1px -1px rgb(241,180,52),
		5px 5px rgb(54,67,88);
}
.journeys .list .journey .images .tour-image h2 {
	font-family: 'HolidaySerifRegular';
	font-size: 20px;
	color: rgb(51,53,93);
	text-shadow: 1px 1px rgb(255,248,233),
		-1px -1px rgb(255,248,233),
		3px 3px rgb(193,144,42);
}
.journeys .list .journey .book-now {
	padding: 30px 0 0 0;
	text-align: center;
	width: 80%;
	position: relative;
	left: 10%;
}
.journeys .list .journey .book-now button {
	border: none;
	font-family: 'GothamRoundedBold';
	font-size: 16px;
	padding: 5px 25px;
	color: rgb(255,255,255);
	background-color: rgb(25,54,97);
}
/*Customers*/
.customers {
	padding: 80px 0;
	background-image: url('../images/rewind_customers_bg.png');
	background-attachment: fixed;
	background-size: cover;
}
.customers .header-1 {
	font-size: 50px;
	text-align: center;
	color: rgb(25,54,97);
}
.customers .list {
	padding: 60px 0 0 0;
}
.customers .list .customer {
	padding: 0 20px;
}
.customers .list .customer .image {
/*	background-image: url('../images/rewind_customer_bg.png');
	background-repeat: no-repeat;*/
}
.customers .list .customer .image img {
	width: 100%;
}
.customers .list .customer .text {
	padding: 0 20px 0 15px;
	font-family: 'GothamRoundedBook';
	font-size: 12px;
	text-align: justify;
	color: rgb(25,54,97);
}
.customers .list .customer .text .quot {
	text-align: center;
	font-size: 16px;
}
.customers .list .customer .text .sign {
	padding: 10px 0 0 50%;
	text-align: center;
}
.customers .list .customer .text .sign .name {
	font-family: 'GothamRoundedBold';
}
.customers .list .customer .text .sign .from {
}
/*Bottom banner*/
.bottom-banner {
	padding: 100px 0;
	text-align: center;
}
.bottom-banner img {
	width: 300px;
}
